@page{
    size:A4 landscape;
    margin:10mm;
}

body{
    margin:0;
    padding:0;
    border:1mm solid #991B1B;
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


.border-pattern {
    position: relative;
    width: 841.68px;
    height: 595.44 px;
    /* border: 10px solid #991B1B;
    background: repeating-linear-gradient(
        45deg,
        #991B1B,
        #991B1B 10px,
        #fff 10px,
        #fff 20px
    ); */
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.content {
    width: 90%;
    height: 90%;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    box-sizing: border-box;
}

.inner-content {
    font-family: 'Arial', sans-serif;
    color: #333;
}

h1 {
    font-size: 36px;
    color: #991B1B;
    margin: 0;
}

h2 {
    font-size: 28px;
    margin: 10px 0;
}

h3 {
    font-size: 20px;
    margin: 15px 0 5px;
}

p {
    font-size: 18px;
    margin: 5px 0;
}

.badge {
    margin-top: 20px;
    width: 100px;
    height: 100px;
    background-color: #991B1B;
    border-radius: 50%;
    margin: 0 auto;
}