@page{
    size:A4 landscape;
    margin:10mm;
}

body {
    margin: 0;
    padding: 0;
    background-color: aqua;
    width: 100%; /* Ensure the body takes the full width */
    height: 100vh; /* Ensure the body takes the full viewport height */
}

.border-pattern {
    position: relative; /* Ensure position is set */
    background-color: red; /* For visibility of the clipped area */
    width: 100%; /* Full width of the body */
    height: 50%; /* 50% of the body height */
}

